<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/">SCIPIO</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
          aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/bdo">Black Desert Online - Guild</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/communist-split">Communist Split</a>
      </li>
    </ul>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a *ngIf="!keycloak.auth.authenticated" class="nav-link" style="float: right;"(click)="loginKeycloak()">Login</a>
      </li>
      <li class="nav-item">
        <a *ngIf="keycloak.auth.authenticated" class="nav-link" style="float: right;" (click)="logoutKeycloak()">Logout</a>
      </li>
    </ul>
  </div>
</nav>
