<div class="modal-content">
  <form>
    <div class="modal-header">
      <h4 class="modal-title">Create a new Payment in {{ group.name }}</h4>
      <button type="button" class="close pull-right" (click)="modalRef.hide()"><span>x</span></button>
    </div>
    <div class="modal-body">
      <div *ngIf="currentStep === 0">
        <div class="row align-self-center justify-content-center mb-3">
          <div class="flex-center" *ngFor="let participation of checkedUsers | selectedUser; index as i">
            <div class="font-weight-bold">{{ participation.user.username }}</div>
            <div *ngIf="i + 1 < (checkedUsers | selectedUser).length">,&nbsp;</div>
          </div>&nbsp;participated to the payment made by&nbsp;
          <div class="font-weight-bold">{{ newPayment.payer?.username }}</div>
        </div>
        <div class="row">
          <div class="col">
            <h4>Who Paid ?</h4>
            <div class="md-form">
              <input id="communistSplitPayerSearch" name="payerSearch" type="search" [(ngModel)]="payerSearch"
                     placeholder="Search User">
              <mdb-error *ngIf="!isValidPayer()">There should be at least one payer</mdb-error>
            </div>
            <div class="list-group">
              <button type="button" mdbWavesEffect class="list-group-item list-group-item-action"
                      *ngFor="let foundPayer of allUsers | searchUser : payerSearch"
                      [ngClass]="{'active': newPayment.payer?.keycloakId == foundPayer.keycloakId}"
                      (click)="selectPayer(foundPayer)">{{ foundPayer.username }}</button>
            </div>
          </div>
          <div class="col border-left">
            <h4>For Whom ?</h4>
            <div class="custom-control custom-switch">
              <input name="forEveryone" [ngModel]="forEveryone" type="checkbox"
                     class="custom-control-input" id="allParticipatedSwitch" (change)="switchForEveryone()">
              <label class="custom-control-label" for="allParticipatedSwitch">Everyone</label>
            </div>
            <div class="list-group">
              <button type="button" mdbWavesEffect class="list-group-item list-group-item-action"
                      *ngFor="let availableUser of checkedUsers; index as i"
                      (click)="checkUser(i)" [disabled]="forEveryone"
                      [ngClass]="{'active': availableUser.selected }">{{availableUser.user.username}}</button>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="currentStep === 1">
        <div class="row">
          <div class="col">
            <div class="md-form">
              <input type="text" mdbInput id="paymentTitle" class="form-control" [(ngModel)]="newPayment.title"
                     name="name">
              <mdb-error *ngIf="!isValidTitle()">Title shouldn't be empty</mdb-error>
              <label for="paymentTitle">Title</label>
            </div>
            <div class="md-form">
          <textarea mdbInput id="paymentDescription" class="md-textarea md-textarea-auto form-control" rows="3"
                    [(ngModel)]="newPayment.description"
                    name="description"></textarea>
              <label for="paymentDescription">Description</label>
            </div>
            <div class="row">
              <div class="col">
                <div class="md-form">
                  <input type="number" mdbInput id="paymentAmount" class="form-control" [(ngModel)]="newPayment.amount"
                         (ngModelChange)="updateAmount()"
                         name="amount">
                  <mdb-error *ngIf="!isValidTotal()">The amount should be superior to 0</mdb-error>
                  <label for="paymentAmount">Amount</label>
                </div>
              </div>
              <div class="col border-left">
                <div class="md-form ml-5">
                  <div class="custom-control custom-switch">
                    <input name="splittedEqually" [ngModel]="splittedEqually" type="checkbox"
                           class="custom-control-input" id="splittedEquallySwitch" (change)="switchSplittedEqually()">
                    <label class="custom-control-label" for="splittedEquallySwitch">Splitted Equally</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col">
                <div class="md-form">
                  <input type="file" name="image" (change)="fileProgress($event)"/>
                  <div *ngIf="fileUploadProgress">Upload Progress : {{ fileUploadProgress }}</div>
                </div>
                <div class="image-preview" *ngIf="newPayment.image">
                  <img [src]="newPayment.image"/>
                </div>
              </div>
            </div>
          </div>
          <div class="col border-left">
            <div class="text-center">
              <div> There are <span class="font-weight-bold"> {{ newPayment.splitPaymentUsers.length }} </span>
                Partcipants
              </div>
            </div>
            <hr/>
            <div *ngIf="splittedEqually" class="text-center">
              <div>
                The payment amount will be split equally between the participants.
                <br/>
                The split currently is : <span class="font-weight-bold">{{ newPayment.splitPaymentUsers[0]?.owes }}
                €</span>
              </div>
            </div>
            <div *ngIf="!splittedEqually">
              <div class="form-row" *ngFor="let participation of newPayment.splitPaymentUsers; index as i">
                <div class="col md-form">
                  <input type="text" mdbInput id="participatingUserUsername_{{i}}" class="form-control"
                         [(ngModel)]="participation.user.username" disabled="true" name="username_{{i}}">
                  <label for="participatingUserUsername_{{i}}">Username</label>
                </div>
                <div class="col md-form">
                  <input type="number" mdbInput id="participatingUserAmount_{{i}}" class="form-control"
                         [(ngModel)]="participation.owes" name="owes_{{i}}">
                  <label for="participatingUserAmount_{{i}}">Amount Due</label>
                </div>
              </div>
              <div class="text-center"
                   *ngIf="(newPayment.splitPaymentUsers | amountLeftPipe : newPayment.amount) as leftAmount">
                <span *ngIf="leftAmount < -0.05">Too much money is being split by : </span>
                <span *ngIf="leftAmount > 0.05">Amount left to be shared between participants : </span>
                <span *ngIf="leftAmount > 0.05 || leftAmount < -0.05" class="font-weight-bold">{{ leftAmount }} </span>
                <br *ngIf="leftAmount > 0.05 || leftAmount < -0.05"/>
                <span *ngIf="leftAmount > 0.05 || leftAmount < -0.05">You are allowed to have a difference of 0.05 €</span>
                <span *ngIf="leftAmount < 0.05 && leftAmount > -0.05">All Set !</span>
              </div>
            </div>
            <div>
              <mdb-error *ngIf="!isValidAmount()">The split amount does not correlate with total</mdb-error>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <app-footer-steps [(currentStep)]="currentStep" [steps]="steps"
                        (currentStepChange)="updateSplitPaymentParticipants()"></app-footer-steps>
      <button *ngIf="currentStep + 1 == steps.length" [disabled]="!isValid()" type="submit" class="btn btn-info"
              (click)="createNewPayment()">
        Create
      </button>
    </div>
  </form>
</div>
