<div class="card">
  <div class="card-header">
    <h3>Communist Split - Payments Management</h3>
  </div>
  <div class="card-body">
    <div class="row">
      <div class="col-2">
        <div *ngIf="groups?.length == 0">
          <p>You are currently not in any group</p>
        </div>
        <ul class="nav nav-pills flex-column">
          <li *ngFor="let groupOption of groups" class="nav-item">
            <a [class.active]="group == groupOption" class="nav-link"
               (click)="group = groupOption">{{ groupOption.name }}</a>
          </li>
        </ul>
      </div>
      <div class="col-8 border-left border-right">
        <div *ngIf="group != null">
          <app-payments [currentGroup]="group"></app-payments>
        </div>
      </div>
      <div class="col-2">
        <p>Users in {{ group?.name }}</p>
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let user of group?.users">
            <a [routerLink]="'/users/' + user.keycloakId" class="nav-link border">{{ user.username }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div *ngIf="keycloak.auth.authenticated && keycloak.auth.hasRealmRole('admin')">
  <app-admin-communist-split></app-admin-communist-split>
  <br/>
</div>
