<div class="table-responsive">
  <table mdbTable striped="true" hover="true">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Created on</th>
      <th scope="col">Personal Credit change</th>
      <th scope="col">Details</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let payment of payments">
      <td>{{ payment.id }}</td>
      <td>{{ payment.createdDate | date }}</td>
      <td>
        <div *ngIf="(currentUser | async) as user; else loading">
          <div *ngIf="(payment | calculateCreditChange : user) as amount; else loading">
            <div [ngStyle]="{color: getClassForAmount(amount)}">{{getTextForAmount(amount)}}</div>
          </div>
        </div>
      </td>
      <td>
        <button class="btn btn-info" type="button" (click)="openDetails(payment)"><i class="fas fa-ellipsis-h"></i>
        </button>
      </td>
    </tr>
    <tr>
      <th scope="row">Add New Payment</th>
      <td></td>
      <td></td>
      <td>
        <button type="button" class="btn btn-info" (click)="showPaymentCreationModal()"><i
          class="fa fa-plus-circle"></i></button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

<ng-template #loading>
  Loading ...
</ng-template>
